

    <div class="flex">
        <div class="row masonry-grid">
            @for (auto of getProductos(); track $index) {
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 space">
                    <div class="card text-bg-dark" style="width: 14rem;">
                        <img src="{{auto.img}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{auto.marca}}</h5>
                          <p class="card-text">{{auto.modelo}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">{{"Año: "+auto.year}}</li>
                          <li class="list-group-item">Precio: {{auto.precio | currency:'USD'}}</li>
                          <li class="list-group-item">Color: {{auto.color}}</li>
                          <li class="list-group-item">
                            @if (auto.disponibilidad) {
                                <div class="disponible"><span>Disponible:</span> <i class="fa-solid fa-check" style="color: #63E6BE;"></i></div>
                            }@else {
                                <div class="disponible"> <span>Disponible:</span> <i class="fa-solid fa-xmark" style="color: #ff4013;"></i></div>
                            }
                          </li>
                        </ul>
                        <div class="card-body">
                          <button class="btn btn-danger form-control">Rentar</button>
                        </div>
                      </div>
                </div>
            }
        </div>
    </div>