a{
    cursor: pointer;
}
.sugerencias{
    background-color: rgba(255, 255, 255, 0.8);
    width: 40%;
    position: absolute;
    z-index: 9999;
    margin-top: 20px;
    right: 10px;
    border: 2pt solid black;
    border-radius: 5px;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.card{
    cursor: pointer;
    font-size: 8pt;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.card:hover{
    border: 2pt solid green
}
.sugerencias img{
    border: 1pt solid black;
}
.items{
    margin: 40px;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #343a40; /* Un tono oscuro para un look elegante */
    border-bottom: 3px solid #ffc107; /* Un toque de color para resaltar */
}

.navbar-toggler {
    border-color: #ffc107; /* Acorde con el borde de la barra de navegación */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 193, 7, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand img {
    max-height: 100px; /* Ajusta el tamaño del logo */
    max-width: 100px;
}

.navbar-nav .nav-link {
    color: #ffffff; /* Texto claro para contraste */
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-item.active .nav-link {
    color: #ffc107; /* Cambio de color al pasar el ratón o en la página actual */
}

/* Estilos para el formulario de búsqueda */
.form-inline {
    display: flex;
    justify-content: flex-end;
}

.form-control {
    border: 2px solid #ffc107; /* Borde del campo de búsqueda */
    border-radius: 0.25rem;
    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #d39e00; /* Color más oscuro al enfocar */
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-outline-success:hover {
    background-color: #28a745; /* Fondo verde al pasar el ratón */
    color: #fff;
}

