<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img src="../../assets/images/logo4.png" height="100px" width="100px">
      <!-- <a class="navbar-brand" href="#">Hidden brand</a> -->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        @for (rutas of activeRoutes; track $index){
          <li class="nav-item {{rutas.active}}">
            <a class="nav-link" (click)="switchPage(rutas.ruta)">{{rutas.ruta}}</a>
          </li>
        }
      </ul>
    </div>
    <div class="form-inline my-2 my-lg-0">
      <form class="form-inline my-2 my-lg-0">
        <div class="flex">
          <input name="query" [(ngModel)]="query" (focus)="mostrarSugerencias()" (blur)="blurSugerencias()" (input)="buscarAuto()" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
        @if (busqueda) {
          <div class="sugerencias">
            <div class="items">
              <h5>Catalogo</h5>
              @for (auto of autos; track $index) {
                <div class="card" (click)="clickSugerenciaCatalogo(auto)">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{{auto.img}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <p class="card-title">{{auto.marca+" "+auto.modelo}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
            
          </div>
        }
        
      </form>
    </div>
  </nav>