.space{
    margin: 18.5px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.space .space:hover{
    transform: scale(1.1,1.1);
}

.space:hover > .space:not(:hover){
    filter: blur(10px);
    transform: scale(0.9,0.9);
}