<div class="info" >
  <div class="card bg-dark text-white">
    <img class="card-img" src="{{auto?.img}}" alt="Card image">
    <div class="card-img-overlay">
      <h2 class="card-title">{{auto?.marca+" "+auto?.modelo}}</h2>
      <p class="card-text">{{auto?.descripcion}}</p>
      <p class="card-text">{{auto?.color}}</p>
      <p class="card-text">{{auto?.precio | currency:'USD'}}</p>
    </div>
  </div>
</div>
<div class="form">
  <h1>Complete el registro de renta</h1>
  <form [formGroup]="datosReservacion">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="Ingrese su email" required>
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input formControlName="telefono" type="tel" class="form-control" id="telefono" placeholder="Ingrese su teléfono" required>
    </div>
    <div class="flex_around">
      <div class="full_size form-group margin_20_right">
        <label for="fecha">Fecha de renta:</label>
        <input formControlName="fecha" type="date" class="form-control text_center" id="fecha" name="fecha-renta" required>
      </div>
      <div class="full_size form-group margin_20_left">
        <label for="hora">Hora:</label>
        <input formControlName="hora" type="time" class="form-control text_center" id="hora" placeholder="Ingrese su nombre" name="hora-renta" required>
      </div>
    </div>
    <div class="form-group">
      <label for="duracion">Duración de renta (en días):</label>
      <div class="flex_around counter">
        <button (click)="cambiarSemanas(false)" class="btn btn-danger" style="margin-right: 10%; width: 70px; height: 40px;">-</button>
        <input formControlName="duracion" type="number" class="form-control text_center sin-flechas" id="duracion" min="1" max="10" inputmode="numeric" required readonly>
        <button (click)="cambiarSemanas(true)" class="btn btn-success" style="margin-left: 10%; width: 70px; height: 40px;">+</button>
      </div>
    </div>
    <button (click)="submitDatos()" type="submit" class="btn btn-primary">Enviar</button>
  </form>  
</div>
