.info{
    margin: 90px;
}
p{
    color: white;
    text-shadow: 1px 1px 2px black;
}
h2{
    text-shadow: 1px 1px 2px black;
}
img{
    background: linear-gradient(to right, rgb(0 0 0 / .5),rgb(0 0 0 / .5));
}
.card-img-overlay{
    background-color: rgba(0, 0, 0, 0.4);
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Contenedor del formulario */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;

}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.sin-flechas{
    -moz-appearance: textfield;
    appearance: textfield;
}


.counter{
    margin-left: 40%;
    margin-right: 40%;
}

.sin-flechas::-webkit-outer-spin-button,
.sin-flechas::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilos para las etiquetas */
label {
    font-weight: bold;
    color: #333;
}

/* Estilos para el botón de envío */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}
.flex_around{
    display: flex;
    justify-content: space-around;
}
.full_size{
    height: 100%;
    width: 100%;
}
.border_circular{
    border-radius: 15px;
    border: 2pt solid black;
}
.margin_20_left{
    margin-left: 20px;
}
.margin_20_right{
    margin-right: 20px;
}
.text_center{
    text-align: center;
}

.flex{
    display: flex;
}