<main>
    <div class="baner">
        <p>Encuentra los mejores automovilies en renta.</p>
        <img src="assets/images/baner.jpg" alt="">
    </div>
    <div class="info">
        <p>Selecciona la mejor opcion</p>
        <img src="assets/images/info1.jpg" alt="">
    </div>
    <div class="info">
        <p>Facilita tus viajes</p>
        <img src="assets/images/info2.jpg" alt="">
    </div>
    <div class="info">
        <p>Facilidad para rentar</p>
        <img src="assets/images/info3.jpg" alt="">
    </div>
</main>